<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <a class="navbar-item" routerLink="home"> Mrs. Russell
        <mat-icon>airplanemode_active</mat-icon>
      </a>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
       data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <a class="navbar-item" routerLink="about">About Me</a>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Lessons
        </a>

        <div class="navbar-dropdown">
<!--          <a class="navbar-item">-->
<!--            Common Lesson Plan-->
<!--          </a>-->
          <a class="navbar-item" routerLink="madeline-hunter">
            Madeline Hunter
          </a>
          <a class="navbar-item" routerLink="5E">
            5E
          </a>
          <a class="navbar-item" routerLink="idm">
            Inquiry Design Model
          </a>
        </div>
      </div>

      <a class="navbar-item">
        Contact Me
      </a>

      <a class="navbar-item">
        Home Tips
      </a>

      <a class="navbar-item">
        Professional Development
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
