<p></p>

<p class="top">Hi, I'm Kali Russell and I am so excited to be your child’s teacher this year and to get to know your family!</p>
<br>
<p>Here is a little bit about me that I would like to share: I will be graduating from the University of North Texas
  with my bachelor’s degree in interdisciplinary students- Early Childhood-6th grade, and I will be getting an
  additional certification in ESL. I moved to Texas from Ohio 4 years ago. I like to spend my free time reading books,
  going to the park with my husband and our two dogs, spending time with our friends and family, and traveling. I became
  a teacher because I want to help foster a love for learning into all my students, as well as be a role model and show
  them that they are capable of great things. I want to make a positive difference in as many lives as I can over my
  lifetime. This will be my 3rd year working in a classroom. I have taught Pre-Kindergarten, and I have also been an
  assistant in a Kindergarten classroom as well as a Preschool classroom. </p>
<br>
<p>This is going to be a very exciting year! We will spend a lot of time learning, exploring, and having FUN! I will use
  the information that I learn about each of my students as far as their interests and learning styles to create lessons
  that will be stimulating and engaging, leaving them with the desire to expand their knowledge on each topic that we
  will discuss. I like to teach with a more creative and hands-on approach, so there will be lots of experiments,
  readers theater, and art projects, as well as partner and group work included in our lessons. We will also be spending
  a lot of time utilizing technology in the classroom, I will update you with more information on that in the upcoming
  weeks.</p>
<br>
<p>Communication is very important to me, so I will send out weekly updates on what has gone on in the previous week, as
  well as what to expect for the upcoming week. I would also like to invite you to visit the classroom or volunteer to
  help with special occasions, as well as contact me with any important questions or information. My email address is
  ________, or you can call me at the school, and the phone number is ______ ext. ___. I welcome you to leave me a
  voicemail if I am unavailable, and I will do my very best to return your message ASAP! </p>
<br>
<p>I believe that we are life long learners, and I can not wait to kick off the school year and learn and grow
  together! </p>
<br>
<p>
  Xoxo,<br>
  Mrs. Russell
</p>

